
.container {
  margin: 0;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  place-items: center;
  min-width: 320px;
}
.row {
  display: flex;
  gap: 6px;
}

.letter {
  width: auto;
  min-width: none;
  width: 60px;
  height: 80px;
  border-radius: 10px;
  background-color: #23243e;
  color: white;
  border: none;

  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  opacity: 0.8;
}

.letter.right {
  // background-color: #1e9600;
  font-weight: bold;
  color: white;
  background-color: #a1c45a;
  // text-shadow: 0 0 10px #62ff3b;
}
.letter.wrong-place {
  // background-color: #968e00;
  font-weight: bold;
  background-color: #f1c550;
  color: white;
  // text-shadow: 0 0 10px #fcff52;
}

.letter.current {
  opacity: 1;
}